/baiTap1/nbproject/private/
/baiTap1/build/
/Lesson2/nbproject/private/
/Lesson2/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/BaiTap2/nbproject/private/
/baiTap2/nbproject/private/
/baiTap2/build/
/Lesson3/nbproject/private/
/Lesson3/build/
/baiTap3/nbproject/private/
/baiTap3/build/
/test1/nbproject/private/
/test1/build/